body {
  background: #ffffff;
}

.navbar {
  display: flex;
  padding: 16px;
  font-family: sans-serif;
}

.navbar-primary {
  background-color: #007bff;
}

.navbar-item {
  padding-right: 8px;
}

.navbar-link {
  color: #ffffff;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f8f9fa;
}

.list-item {
  background: #868e96;
  margin-top: 5px;
  display: flex;
}

.list-item__delete {
  margin-left: auto;
  background: #ff0000;
  color: #ffffff;
}
